:root {
	// font styles
	--font-primary: 'Rubik', sans-serif;

	// color styles
	--primary-brand: #027a39;
	--secondary-brand: #a3df22;
	--tertiary-brand: #f5c19e;

	--dark: #0e0e0e;

	--text: #4a4a68;
	--subtle-text: #8c8ca1;

	--accent: #ecf1f4;

	--light: #fffbfc;

	--errors: #ed5140;
}
