:root {
	// font styles
	--font-primary: 'Rubik', sans-serif;

	// color styles
	--primary-brand: #027a39;
	--secondary-brand: #a3df22;
	--tertiary-brand: #f5c19e;

	--dark: #0e0e0e;

	--text: #4a4a68;
	--subtle-text: #8c8ca1;

	--accent: #ecf1f4;

	--light: #fffbfc;

	--errors: #ed5140;
}

@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model; // Safari <= 5
	-moz-box-sizing: $box-model; // Firefox <= 19
	box-sizing: $box-model;
}

@mixin box($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin hardware($backface: true, $perspective: 1000) {
	@if $backface {
		backface-visibility: hidden;
	}
	perspective: $perspective;
}
